.App {
  text-align: center;
  color: gray;
}

button{
  height: 40px;
  width: 40px;
  margin: 5px;
  color: blue;
  font-weight: 700;
}

input{
  height: 33px;
  width: 53px;
  margin: 5px;
  text-align: center;
}